@model IEnumerable<ControleDePatrimonios.Models.Marca>

@{
    ViewData["Title"] = "Marcas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MarcaId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MarcaId }) |                
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="ListAllJSon" class="btn btn-light">Ver JSon</a>
</p>